.homepage {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media (max-width: 1200px) {
  .homepage__movieList {
    grid-area: movieList;
  }

  .homepage__movieDetail {
    grid-area: movieDetail;
  }
  .homepage {
    grid-template-columns: 1fr;

    grid-template-areas:
      "movieList"
      "movieDetail";
  }
}
