.moviesList {
  width: 38vw;
  background: white;
  overflow: auto;
  color: #666;
  height: 90vh;
}

.movieList__result {
  font-size: 1.2em;
  margin: 2em;
  text-align: left;
  font-weight: 500;
}

.moviesList__list {
  /* height: 90vh; */
  height: 100%;
}

.moviesList__singleMovie {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 1.5em;
  cursor: pointer;
}

.moviesList__singleMovie:hover {
  background-color: rgb(233, 233, 233);
}

.moviesList__image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.moviesList__info {
  margin-left: 1em;
  margin-top: -0.8em;
  display: flex;
  flex-direction: column;
}

.moviesList__title {
  font-weight: 300;
}

.moviesList__year {
  font-size: 1em;
  align-self: flex-start;
}
/* make div scrollable */

::-webkit-scrollbar {
  width: 15px;
}

/* ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
} */

::-webkit-scrollbar-thumb {
  background: rgb(210, 209, 209);
  /* -webkit-box-shadow: inset 10px 10px 6px rgba(72, 71, 71, 0.5); */
}
