.search__input {
  margin-left: 1em;
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1em;
}

@media (max-width: 1200px) {
  .search__input {
    width: 80%;
  }
}
